::-moz-selection {
  background-color: #89547b; }

::selection {
  background-color: #89547b; }

body.mainContent {
  background: -webkit-gradient(linear, left top, right top, from(#817397), color-stop(#b88bac), to(#817397));
  background: linear-gradient(to right, #817397, #b88bac, #817397);
  color: #fff;
  font-size: 16px;
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden; }

section:first-of-type .sectionContent {
  min-height: 100vh; }

.sectionContent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .screen.screen_first {
    text-align: center; }
    .screen.screen_first .name {
      font-size: 3em;
      line-height: 1.5em; }
    .screen.screen_first .post {
      font-size: 1em;
      letter-spacing: .4em;
      text-transform: uppercase; }
    .screen.screen_first .socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 2em; }
      .screen.screen_first .socials .socials__item {
        margin: 0 .5em; }
      .screen.screen_first .socials .socials__img {
        width: 2em; }
  .screen .screen__title {
    font-size: 2em;
    line-height: 3em;
    text-align: center; }

.infoRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .infoRow > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%; }

.imgContainer img {
  max-width: 100%;
  height: auto; }

.aboutMySelf p {
  margin: 1em 0;
  line-height: 1.5em; }

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .portfolio .portfolio__item {
    -ms-flex-preferred-size: 32vw;
        flex-basis: 32vw;
    background-color: rgba(255, 255, 255, 0.2);
    height: 33vw;
    margin: 1px; }

.project {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .project .project__image {
    display: block;
    width: 90%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .project .project__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*justify-content: space-around;*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0; }
    .project .project__mask > * {
      -ms-flex-item-align: center;
          align-self: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
  .project .project__title {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    font-size: 1.5em;
    border-bottom: 1px solid;
    padding: 0 20px;
    position: relative;
    top: -20px; }
  .project .project__description {
    /*flex-basis: 40%;*/
    font-size: 1.5em; }
  .project .project__btn {
    /*flex-basis: 30%;*/
    position: relative;
    /*top: 20px;*/
    margin: 3vh; }
  .project .project__link {
    color: inherit;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.5em; }
    .project .project__link:hover {
      color: #b88bac; }
  .project:hover .project__image {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1); }
  .project:hover .project__mask {
    opacity: 1; }
    .project:hover .project__mask > * {
      -webkit-transform: scale(1);
              transform: scale(1); }
  .project:hover .project__title,
  .project:hover .project__btn {
    top: 0; }
  .project .project__tech {
    display: inline-block;
    width: 5vh;
    height: auto;
    margin: 0 5px; }
    .project .project__tech img {
      width: 100%; }

.profession .profession__title {
  font-size: 1.5em;
  line-height: 2em; }
.profession .profession__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2); }

/*
* Project Page Styles
*/
body {
  background-color: #1a1a1a;
  font-family: sans-serif;
  font-size: 16px; }

header {
  text-align: center;
  color: #fff;
  padding: 40px;
  margin-bottom: 40px; }

.projectPage {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.projectPage__name {
  font-size: 3em;
  margin-bottom: 40px; }

.projectPage__info {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  line-height: 1.5em; }

.projectPage__btn {
  width: 250px;
  background-color: #f1d9ad;
  padding: 15px;
  border-radius: .2rem;
  border: 0;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 1em; }

.projectPage__usedTechnologies p,
.projectPage__completedTasks p {
  font-size: 1.2em;
  margin-bottom: 20px; }

.projectPage__completedTasks ul {
  padding-left: 25px;
  list-style: disc; }

.projectPage__usedTechnologies ul {
  padding-left: 25px; }

.projectPage__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.imgWrap img {
  width: 100%;
  border-radius: .2rem;
  overflow: hidden; }

footer {
  padding: 40px;
  margin: 40px 0;
  text-align: center; }

/* Project - Alternative Invest */
/* Project - XT */
/* --- XT --- */
.projectPage_xt .projectPage__btn {
  background-color: #ff5722; }
.projectPage_xt .projectPage__subTitle {
  color: #fff;
  font-size: 2em;
  margin: 80px 0;
  text-align: center; }
.projectPage_xt .projectPage__detailsItem:first-of-type {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  margin-right: 50px; }
.projectPage_xt .projectPage__detailsItem {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  color: #fff; }
.projectPage_xt .projectPage__description {
  line-height: 1.5; }
.projectPage_xt .projectPage__description ul {
  padding-left: 25px;
  list-style: disc; }
.projectPage_xt .projectPage__description .imgWrap {
  margin-top: 20px; }

/* Project - M4M */
.projectPage_m4m .projectPage__btn {
  background-color: #567ba7; }

/* Project - SVAOR */
.projectPage_svaor .projectPage__btn {
  background-color: #008000; }

/* Project - WebKing */
.projectPage_webking .projectPage__btn {
  background-color: #bf1111; }

/*# sourceMappingURL=main.css.map */