.mg {
  &-sidebar {
    height: 100vh;
    position: fixed;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

    a {
      transition: .7s;
    }

    .mg-logo {
      position: relative;
      top: 0;
      left: -60px;
      text-align: center;
      width: 120px;

      &_black {
        position: absolute;
        z-index: 1;
        opacity: 1;
        transition: .7s;
      }

      &_white {
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: .7s;
      }
    }
  }
}
