// colors
$text-color: #22262c; // rgb(34, 38, 44)
$text-color-gray: #abb1b9; // rgb(171, 177, 185)
$text-color-red: #e82836; // rgb(171, 177, 185)
$text-color-transparent-immitation: #373d43;
$accent-color: #75a33a;
$relief-color: #c7c7c7; // вспомагательный
$white: #ffffff;

// font size
$_12px: .75em;
$_14px: .875em;
$_20px: 1.25em;
$_25px: 1.56em;
$_36px: 2.25em;
$_45px: 2.45em;
$_68px: 3.7em;
