/* --- XT --- */
.projectPage_xt{
	
	.projectPage__btn{
		background-color: #ff5722;
	}
	.projectPage__subTitle{
		color: #fff;
		font-size: 2em;
		margin: 80px 0;
		text-align: center;
	}
	.projectPage__detailsItem:first-of-type{
		flex-basis: 28%;
	    margin-right: 50px;
	}
	.projectPage__detailsItem{
		flex-basis: 75%;
		color: #fff;
	}
	.projectPage__description{
		line-height: 1.5;
	}
	.projectPage__description ul{
		padding-left: 25px;
		list-style: disc;
	}
	.projectPage__description .imgWrap{
		margin-top: 20px;
	}
}
